init.author.name = Fábio Luciano
init.author.email = fabio.goisl@ctis.com.br
init.author.url = http://ctis.com.br
email=fabio.goisl@ctis.com.br
always-auth=true
_auth=Y2Fpby5iZXNzYTpDYWNob3JybzIh
registry = http://nexus.desenv.ctis.mctic.gov.br/repository/npm-registry/
