div(layout='row', layout-padding='', layout-wrap='')
  isei-pesquisar-bloco(filtros = 'vm.pesquisarBloco',sistema='SIB')
div(layout='row', layout-padding='', layout-wrap='')
  button(ng-click='vm.acessar()') teste
